#index{
    background-image: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
   
}

nav{color: rgb(255, 255, 255); text-align: right;}
a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    word-spacing: 15px;
}

.menu{
    margin: 25px 25px 5px;
    padding: 10px 10px;
    border: 10px;
    text-transform: uppercase;
    letter-spacing: 5%;
    word-spacing: 15px;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 150px;
}

footer {
    text-align: left;
    color: aliceblue;
    bottom: 0;
    width:95%;
    height:100px;
    position: absolute;
  
}

#az {color: rgb(0, 104, 71);}
#te {color: rgb(255, 255, 255);}
#ca {color: rgb(207, 17, 37)}

#fondoArtistas{
    background-color: black;
}

ul{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(89, 89, 89);
    list-style: none;
    word-spacing: 8px;
}

#menuArtistas{
    color: blue;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:focus{
    color: rgb(46, 139, 96);
}

a:default{
    color: rgb(46, 139, 96);
}
