body{
    background-color: black;
}

nav{color: rgb(255, 255, 255); text-align: right;}
a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    word-spacing: 15px;
}

.menu{
    margin: 25px 25px;
    padding: 10px 10px;
    border: 10px;
    text-transform: uppercase;
    letter-spacing: 5%;
}

h1{
    color: aliceblue;
    text-align: center;
}

pre{
    text-align: center;
    color: aliceblue;
}

p{
    text-align: left;
    color: #66FF00;
    font-size: 30px;
}

#producer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
